
/** --------First Page----------- 
*/
.box-margin
{
    margin-bottom: 8px;
}
nav#filtering {
	margin-bottom:1.5em;
}

nav#filtering li {
	display:inline-block;
	margin:0 0 0 5px;
}
nav#filtering a {
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}
nav#filtering ul {
	margin-top:30px;
    }

.fixed-height-box {
            display: block;
            min-height: 400px;
            max-height: 400px;
            margin-bottom: 80px;
        }
        .solution-logo {
            width: 356px;
            height: 300px;
        }
        .page-heading{
          text-align: center;
          color: aliceblue;
      }
        #persistent-logo
      {
          height: 65px;
      }
        #header {
        background: #416b88;
        min-height: 75px;
        padding: 5px 0 0;
        height: auto;
        overflow: hidden;
    }
        p.left-text {
        text-align: left;
        }
        
        .caption-width{
      
        /*word-break: break-all;*/
        }
        .panel-body {
        height: 140px;
        min-height: 140px; 
        overflow-y: auto;
        overflow-x: auto;
        }

/*Newly Added*/

.fixed-width-btn {
    width: 150px;
}

.solution-logo {
    margin: 0;
    width: 100%;
}

.panel-heading {
    padding: 0;

}
.panel {
    border: 2px solid black;
    
}