.fixed-panel {
      min-height: 130px;
      height: 130px;
      overflow-y: auto;
   
        
    }
     
#header {
        background: #416b88;
        min-height: 80px;
        padding: 5px 0 0;
        height: 80px;
        overflow: hidden;
    }

.page-heading{
          text-align: center;
          color: aliceblue;
      }

#abstract {
    font-size: 16px;
    font-family: Helvetica;
}

#persistent-logo
      {
          height: 70px;
          margin-left:10px;
      }

.panel{
       border:1px solid black;
      }

.panel > .panel-heading {
  
    background-color: #416b88;

}

a:link {
    
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 a:visited {
    color: white;
    background-color: #416b88 !important;
    text-decoration: none;
}

a:hover {
    background-color: #416b88 !important;
    text-decoration:none;
} 
.navbar{
    
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
/*nav div ul{
    margin-top: -20px;
    list-style-type: none;
}*/

/*.nav div ul{
    
    list-style-type: none;
    display: table-row;
    margin: 0 auto;
    padding: 0 auto;
} .nav div ul li{
    
   display: table-cell; 
   
  }*/



nav div ul {
    width: 100%;
   /* background: #cacaca;*/
    margin: 0;
    padding: 0;
}
nav div ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 0;
    width: auto;
    margin-right: 0;
    /*background: #fafafa;*/
    padding-left: 0;
    margin-left: 0;
}
/*nav div ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}*/